.contenedor-libro{
    border: solid 1px rgb(199, 199, 199);
    background-color: #fff;
    width: 40%;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.buscaja{
    margin: 5px;
}

.buscaja input{
    display: block;
    width: 200px;
    height: 45px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.btn_eliminar{
    text-decoration: none;
    display: inline-block;
    background-color: #e74c3c;
    color: #ecf0f1;
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn_modificar{
    text-decoration: none;
    display: inline-block;
    background-color: #3498db;
    color: #ecf0f1;
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn_eliminar:hover{
    background-color: #c0392b;
    color: #bdc3c7;
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn_modificar:hover{
    background-color: #2980b9;
    color: #bdc3c7;
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.centro{
    font-size: 16px;
    text-align: center;
    margin: 5px;
    padding: 2xp;
    border-right: solid 1px rgb(199, 199, 199);
    border-left: solid 1px rgb(199, 199, 199);
}

.contenedor-user{
    display: flex;
    border: solid 1px rgb(199, 199, 199);
    background-color: #fff;
    width: 50%;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.contenedor-user:hover{
    background-color: #ddd;
}

.contenedor-libro:hover{
    background-color: #ddd;
}

.contenido{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.contenedor-titulo{
    padding-left: 15px;
    display: flex;
    width: 100%;
    border-bottom: solid 1px rgb(199, 199, 199);
    font-size: 25px;
    color: #17e;
}

.cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    color: #444;
}

.cont-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    color: #444;
}

.cont-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    color: #444;
}

.contenido_img p{
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 2xp;
    border-right: solid 1px rgb(199, 199, 199);
}

.fi{
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 2xp;
}

.contenido p{
    font-size: 16px;
    border-bottom: solid 1px rgb(199, 199, 199);
    padding: 2xp;
}

.contenedor-descripcion{
    display: flex;
    width: 100%;
    padding-left: 15px;
    border-top: solid 1px rgb(199, 199, 199);
    font-size: 16px;
    color: #444;
}

.img-libro{
    width: 20%;
    margin: 5px;
    padding: 5px;
    border-left: solid 1px rgb(199, 199, 199);
}

.img{
    width: 100%;
    padding: 5px;
}


.contenedor-busqueda{
    width: 100%;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items:flex-start;
}

