*{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
	background-color: #cecece;
}

.contenedor-inicio{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.form-inicio{
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo{
    font-size: 25px;
    text-align: center;
    border-bottom: solid 1px black;
    font-weight:bold;
	display: flex;
}
.tabla{
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block; 
    font-family: sans-serif;
	border: 2px solid #E6E6E6;
}
.imagen{
	display: inline-block;
	
}
.text{
    font-size: 15px;
    padding: 5px;
    width: 250px;
	outline-color:#5c9dbc;
}
.boton{
    transition: 0.2s;
    background-color: #5c9dbc ;
    color: #000007 ;
    outline: none;
    border: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
}
.boton:hover{
    transition: 0.5s;
    background-color: #4986bc;
	color:#ffffff;
    
}
.error{
	width:25%;
	margin: 0 auto;
	text-align: 'center';
	color: #c0392b;
	background-color: #ff8362;
	margin-bottom:10px;
	font-size:24px;
	font-weight:bold;
	padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 1px 3px black;
}
.inputB{
	margin:0px;
	width:700px;
	font-size: 22px;
	padding: 10px;
	display: inline-block;
	outline:none;
	padding-left:40px;
	border-top-left-radius:80px;
	border-bottom-left-radius:80px;
	border:solid 1px rgb(160, 160, 160);
	
}
.botonB{
	margin:0px;
	padding: 10px;
	font-size: 20px;
	border-right:solid 1px rgb(160, 160, 160);
	border-top:solid 1px rgb(160, 160, 160);
	border-bottom:solid 1px rgb(160, 160, 160);
	border-left:none;
	background-color: white;
	border-top-right-radius:80px;
	border-bottom-right-radius:80px;
	display: inline-block;
}
.botonB:hover{
	transition:0.5s;
	background-color:#BDC3C7;
}

@media screen and (max-width:858px) and (orientation: landscape){

	.inputB{
		width:calc(100% - 200px);
	}
}
