body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #120212;
}

.contenedor-load{
    position: relative;
}

.contenedor-load .win-lod{
    width: 100px;
    height: 100px;
    border: solid 5px #064555;
    border-top: solid 5px #7cd6ec;
    border-radius: 50%;
    animation: loader .8s linear infinite;
}

@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.contenedor-load .mensaje{
    position: absolute;
    color: #7cd6ec;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: mensaje 1s alternate infinite ease-in-out;
    
}

@keyframes mensaje {
    0%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }
    
}